{% extends "admin/admin_index.html" %}

{% block title %}"人工智能+x"交叉学科交流平台-管理评论主页{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>评论管理</h1>
     <a href="{{ url_for('admin.index') }}" class="btn btn-secondary mb-3">返回首页</a>

<a href="{{ url_for('admin_answer.add_answer') }}" class="btn btn-success" style="float:right;">添加评论</a>

        {% if not answers.total %}
            <p>无评论</p>
        {% else %}
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>评论者id</th>
                    <th>问题id</th>
                    <th>评论内容</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for answer in answers.items %}
                    <tr>
                        <td>{{ answer.author_id }}</td>
                        <td>{{ answer.question_id }}</td>
                        <td>{{ answer.content }}</td>
                        <td>{{ answer.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>
                            <a href="{{ url_for('admin_answer.delete_answer', answer_id=answer.id) }}" class="btn btn-danger btn-sm"
                               onclick="return confirm('是否要删除此评论？')">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{#            <nav>#}
{#            <ul class="pagination">#}
{#                {% if answers.has_prev %}#}
{#                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_answers.index', page=answers.prev_num) }}">上一页</a></li>#}
{#                {% else %}#}
{#                    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>#}
{#                {% endif %}#}
{#                {% for page_num in answers.iter_pages() %}#}
{#                    {% if page_num %}#}
{#                        {% if page_num != answers.page %}#}
{#                            <li class="page-item"><a class="page-link" href="{{ url_for('admin_answers.index', page=page_num) }}">{{ page_num }}</a></li>#}
{#                        {% else %}#}
{#                            <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                {% if answers.has_next %}#}
{#                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_answers.index', page=answers.next_num) }}">下一页</a></li>#}
{#                {% else %}#}
{#                    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </nav>#}

        {% endif %}
    </div>
{% endblock %}