{% extends 'admin/admin_index.html' %}

{% block body %}
<h1>问答管理</h1>
     <a href="{{ url_for('admin.index') }}" class="btn btn-secondary mb-3">返回首页</a>

<a href="{{ url_for('admin_question.add_question') }}" class="btn btn-success" style="float:right;">添加问题</a>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>发布时间</th>
                <th>发布人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.create_time }}</td>
                <td>{{ question.author.username }}</td>
                <td>
                    <a href="{{ url_for('admin_question.edit_question', question_id=question.id) }}" class="btn btn-primary btn-sm">修改</a>
                    <a href="{{ url_for('admin_question.delete_question', question_id=question.id) }}" class="btn btn-danger btn-sm">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<nav>
        {% if total_questions > per_page %}
            <ul class="pagination">
                 {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_question.index', page=page-1) }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for i in range(1, pages + 1) %}
                {% if i == page %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_question.index', page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page < pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_question.index', page=page  + 1) }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>
</div>
{% endblock %}