{% extends "base.html" %}

{% block title %}视频列表{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for video in videos %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <video class="card-img-top" src="{{ url_for('static', filename='movie/' + video.file) }}" controls></video>
                    <div class="card-body">
                      <a class="card-title" href="{{ url_for('learn.video_detail', video_id=video.id) }}" style="color:black; transition: color 0.2s ease-in-out; ">{{ video.title }}</a>
                        <p class="card-text">播放次数：{{ video.count }}</p>


                           <a href="{{ url_for('learn.video_detail', video_id=video.id) }}" class="btn btn-primary">查看详情</a>

                    </div>
                </div>
            </div>
            {% endfor %}
          <nav>
        {% if total_videos > per_page %}
            <ul class="pagination">
                 {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('learn.index', page=page-1) }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for i in range(1, pages + 1) %}
                {% if i == page %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('learn.index', page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page < pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('learn.index', page=page  + 1) }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>

        </div>
    </div>
{% endblock %}
