{% extends "base.html" %}

{% block title %}”人工智能+x“交叉学科交流平台-论坛{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">
    <style>
 .question-author-info {
        float: right;
    }

    .question-author-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .question-author {
        margin-left: 10px;
        font-size: 18px;

    }

    .question-time {
        margin-left: 10px;
        font-size: 14px;
        color: #999;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
                <ul class="question-ul">
                    {% for question in questions %}
    <li>
        <div class="side-question">
           {% if question.author.avatar %}
        <img class="question-author-avatar" src="{{ url_for('static', filename='images/avatar/thumbnails/' + question.author.avatar) }}" alt="Avatar">
    {% else %}
       <img class="question-author-avatar" src="{{ url_for('static', filename='images/avatar.jpg' ) }}" alt="Avatar">
    {% endif %}</div>
        <div class="question-main">
            <div class="question-title"><a href="{{ url_for('AI+X.qa_detail', qa_id=question.id) }}">{{ question.title }}</a></div>
            <p class="question-content" style="white-space: pre-line;">
                {% if question.content|length > 300 %}
                    {{ question.content[:300] }}... <a href="{{ url_for('AI+X.qa_detail', qa_id=question.id) }}">更多</a>
                {% else %}
                    {{ question.content }}
                {% endif %}
            </p>

            <div class="question-detail">

    <span class="question-author">{{ question.author.username }}</span>
    <span class="question-time">{{ question.create_time }}</span>
</div>


        </div>
    </li>
{% endfor %}

                </ul>
<nav>
    {% if total_questions > per_page %}
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('AI+X.index', page=page-1) }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for i in range(1, pages + 1) %}
                {% if i == page %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('AI+X.index', page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page < pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('AI+X.index', page=page  + 1) }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}
</nav>

            </div>
            <div class="col"></div>
        </div>
{% endblock %}
