{% extends 'admin/admin_index.html' %}

{% block body %}

    <h1>评论列表</h1>
     <a href="{{ url_for('admin.index') }}" class="btn btn-secondary mb-3">返回首页</a>

    <a href="{{ url_for('admin_comments.word_cloud') }}" class="btn btn-success" style="float:right;">查看统计词云</a>
    <a href="{{ url_for('admin_comments.statistics') }}" class="btn btn-success" style="float:right;">查看统计评论</a>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>内容</th>
                    <th>发布时间</th>
                    <th>发布人</th>
                    <th>视频名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.create_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ comment.user.username }}</td>
                    <td>{{ comment.video.title }}</td>
                    <td>
                        <form action="{{ url_for('admin_comments.delete_comment', comment_id=comment.id) }}" method="post" onsubmit="return confirm('确定要删除该评论吗？')">
                            <button type="submit" class="btn btn-danger btn-sm">删除</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
  <nav>
        {% if total_comments > per_page %}
            <ul class="pagination">
                 {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_comments.index', page=page-1) }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for i in range(1, pages + 1) %}
                {% if i == page %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_comments.index', page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page < pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_comments.index', page=page  + 1) }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>
    </div>
{% endblock %}
