{% extends "admin/admin_index.html" %}

<html>
{% block title %}调查问卷{% endblock %}
<link>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_qn.css') }}">

<style>
    .pagination-center {
    display: flex;
    justify-content: center;
}
</style>
</head>
{% block body %}
    <div class="container">
        <h2>调查问卷</h2>
 <a href="{{ url_for('admin.index') }}" class="btn btn-secondary mb-3">返回首页</a>

        <hr>

        <h3>表单问题</h3>
        <div class="col">
            <a  href="{{ url_for('admin_questionnaire.add_questionnaire') }}" class="btn btn-primary float-right mb-3">添加问卷</a>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>题目</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody>
                {% for questionnaire in questionnaires %}
                    <tr>
                        <th scope="row">{{ questionnaire.id }}</th>
                        <td>{{ questionnaire.title }}</td>
                        <td>{{ questionnaire.description }}</td>
                        <td>{{ questionnaire.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ questionnaire.updated_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>

                        <td>
                            <a href="{{ url_for('admin_questionnaire.edit_questionnaire', questionnaire_id=questionnaire.id) }}" class="btn btn-primary btn-sm">修改<i class="fa fa-pencil"></i></a>
                            <a href="{{ url_for('admin_questionnaire.questionnaire_stats', questionnaire_id=questionnaire.id) }}" class="btn btn-primary btn-sm">统计<i class="fa fa-pencil"></i></a>

                            <form method="POST" action="{{ url_for('admin_questionnaire.delete_questionnaire', questionnaire_id=questionnaire.id) }}" class="delete-form" onsubmit="return confirm('确定删除这份调查问卷吗？');">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">删除<i class="fa fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <nav class ='pagination-center'>
        {% if total_questionnaires > per_page %}
            <ul class="pagination">
                 {% if page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_questionnaire.index', page=page-1) }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">上一页</span></li>
            {% endif %}

            {% for i in range(1, pages + 1) %}
                {% if i == page %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('admin_questionnaire.index', page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page < pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for('admin_questionnaire.index', page=page  + 1) }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">下一页</span></li>
            {% endif %}
            </ul>
        {% endif %}
        </nav>
    </div>

{% endblock %}</html>